#footer{
    margin: 50px 0 0 0;


}
.navbar-header{

   color: white;

}
.logo{
    width: 90px;
}
.ologo{
padding-bottom: 5px;
}
.navbar{
    background-color: lightgreen;

    color: white;
}
.container{

}
#a link{
    color: white;
}